node_modules



.nx/cache
.nx/workspace-data
deploy-packages/
.env
.env.*
.runtime/
*.log
*.tmp
*.bak
prisma/dev.db
android/key.properties
android/release-keystore-info.txt
android/app/*.keystore
android/app/*.jks
